/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

body {
	background-color: black;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes shakee {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes shakeee {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes blinkingBackground{
	0%		{ background-color: #282828}
	25%		{ background-color: black}
	50%		{ background-color: #282828}
	75%		{ background-color: black}
	100%	{ background-color: #282828}
}
.sound4 #video-mask {
	animation: shake 0.5s;
	animation-iteration-count: 2;
}

.sound6 #video-mask {
	animation: shakee 0.5s;
	animation-iteration-count: 2;
}

.sound9 {
	animation: blinkingBackground 0.2s;
	animation-delay: 3ms;
	animation-iteration-count:300;
}
.sound8 #video-mask {
	animation: shakeee 0.5s;
	animation-iteration-count: 2;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: normal;
	font-weight: bold;
	color: white;
}
.voice2 {
	font-style: italic;
	color: white;
}
 
.voice4 {
	font-style: normal;
	font-weight: bold;
	color: white;
}
/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0.on {
	font-size: 20px;
	font-family: brenner;
}


.p1.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p2.on {
	font-family: brenner;
	font-size: 20px;

}

.p3.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p4.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p5.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p6.on {
	background-color: red;
	color:white;
	font-family: brenner;
	font-size: 20px;
	font-style: italic;

}

.p7.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p8.on {
	font-family: brenner;
	font-size: 20px;

}

.p9.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p10.on {
	font-family: brenner;
	font-size: 20px;
}

.p11.on {
	font-family: brenner;
	font-size: 20px;
}

.p12.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p13.on {
	font-family: brenner;
	font-size: 20px;
}

.p14.on {
	font-family: brenner;
	font-size: 20px;
}

.p15.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p16.on {
	font-family: brenner;
	font-size: 20px;
}

.p17.on {
	font-family: brenner;
	font-size: 20px;
}

.p18.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p19.on {
	font-family: brenner;
	font-size: 20px;
}

.p20.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p21.on {
	font-family: brenner;
	font-size: 20px;
}

.p22.on {
	font-family: brenner;
	font-size: 20px;
}

.p23.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p24.on {
	font-family: brenner;
	font-size: 20px;
}

.p25.on {
	font-family: brenner;
	font-size: 20px;
}

.p26.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p27.on {
	font-family: brenner;
	font-size: 20px;
}

.p28.on {
	font-family: brenner;
	font-size: 20px;
}

.p29.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p30.on {
	font-family: brenner;
	font-size: 20px;
}

.p31.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p32.on {
	font-family: brenner;
	font-size: 20px;
}

.p33.on {
	font-family: brenner;
	font-size: 20px;
}

.p34.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p35.on {
	font-family: brenner;
	font-size: 20px;
}

.p36.on {
	font-family: brenner;
	font-size: 20px;
}

.p37.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p38.on {
	font-family: brenner;
	font-size: 20px;
}

.p39.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p40.on {
	font-family: brenner;
	font-size: 20px;
}

.p41.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p42.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p43.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p44.on {
	font-family: brenner;
	font-size: 20px;
}

.p45.on {
	font-family: brenner;
	font-size: 20px;
}

.p46.on {
	font-family: brenner;
	font-size: 20px;
}

.p47.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p48.on {
	font-family: brenner;
	font-size: 20px;
}

.p49.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p50.on {
	font-family: brenner;
	font-size: 20px;
}

.p51.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p52.on {
	font-family: brenner;
	font-size: 20px;
}

.p53.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p54.on {
	font-family: brenner;
	font-size: 20px;
}

.p55.on {
	color: pink;
	font-size: 20px;
	font-family: brenner;
}

.p56.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p57.on {
	font-size: 20px;
	font-family: brenner;
}

.p58.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p59.on {
	color: black;
	font-size: 20px;
	font-family: brenner;
}

.p60.on {
	font-size: 20px;
	right: 6.2em;
	font-family: brenner;
}

.p61.on {
	font-size: 20px;
	font-family: brenner;
}

.p62.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p63.on {
	font-size: 20px;
	font-family: brenner;
}

.p64.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p65.on {
	font-size: 20px;
	font-family: brenner;
}

.p66.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p67.on {
	font-size: 20px;
	font-family: brenner;
	/* maak bold */
}

.p68.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p69.on {
	font-size: 20px;
	font-family: brenner;
}

.p70.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p71.on {
	font-size: 20px;
	font-family: brenner;
}

.p72.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p73.on {
	font-size: 20px;
	font-family: brenner;
}

.p74.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p75.on {
	font-size: 20px;
	font-family: brenner;
}

.p76.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p77.on {
	font-size: 20px;
	font-family: brenner;
}

.p78.on {
	font-size: 20px;
	font-family: brenner;
	right: 6.2em;
}

.p79.on {
	font-size: 20px;
	font-family: brenner;
}



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	/* background-color: hotpink; */
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	
}


/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
}
#video-container {
	margin: auto;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}
