/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	color: white;
	font-weight:600;
	font-family: "brenner mono";
}
.voice2 {
	color: white;
	font-family: "brenner";
	font-style: normal;
}

.voice3 {
	color: white;
	font-family: "Brenner display black";
}
 
.voice4 {
	font-style: normal;
	color: white;
	font-family: "brenner sans";
}
/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0.on {
	font-size: 22px;
	font-style: Normal;
	
}


.p1.on {
	font-size: 20px;
	right: 6.2em;

}

.p2.on {
	font-size: 22px;
	font-style: Normal;
}

.p3.on {
	font-size: 20px;
	right: 6.2em;
}

.p4.on {
	font-size: 20px;
	right: 6.2em;
}

.p5.on {
	font-size: 20px;
	right: 6.2em;

}

.p6.on {
	background-color: red;
	color:white;
	font-size: 20px;
	/* fuck off skinjob */
}

.p7.on {
	font-size: 20px;
	right: 6.2em;
}

.p8.on {
	font-size: 22px;
	font-style: Normal;

}

.p9.on {
	font-size: 20px;
	right: 6.2em;
}

.p10.on {
	font-size: 22px;
	font-style: Normal;
}

.p11.on {
	font-size: 22px;
	font-style: Normal;
}

.p12.on {
	font-size: 20px;
	right: 6.2em;
}

.p13.on {
	font-size: 22px;
	font-style: Normal;
}

.p14.on {
	font-size: 22px;
	font-style: Normal;
}

.p15.on {
	font-size: 20px;
	right: 6.2em;
}

.p16.on {
	font-size: 22px;
	font-style: Normal;
}

.p17.on {
	font-size: 22px;
	font-style: Normal;
}

.p18.on {
	font-size: 20px;
	right: 6.2em;
}

.p19.on {
	font-size: 22px;
	font-style: Normal;
}

.p20.on {
	font-size: 20px;
	right: 6.2em;
}

.p21.on {
	font-size: 22px;
	font-style: Normal;
}

.p22.on {
	font-size: 22px;
	font-style: Normal;
}

.p23.on {
	font-size: 20px;
	right: 6.2em;
}

.p24.on {
	font-size: 22px;
	font-style: Normal;
}

.p25.on {
	font-size: 22px;
	font-style: Normal;
}

.p26.on {
	font-size: 20px;
	right: 6.2em;
}

.p27.on {
	font-size: 22px;
	font-style: Normal;
}

.p28.on {
	font-size: 22px;
	font-style: Normal;
}

.p29.on {
	font-size: 20px;
	right: 6.2em;
}

.p30.on {
	font-size: 22px;
	font-style: Normal;
}

.p31.on {
	font-size: 20px;
	right: 6.2em;
}

.p32.on {
	font-size: 22px;
	font-style: Normal;
}

.p33.on {
	font-size: 22px;
	font-style: Normal;
}

.p34.on {
	font-size: 20px;
	right: 6.2em;
}

.p35.on {
	font-size: 22px;
	font-style: Normal;
}

.p36.on {
	font-size: 22px;
	font-style: Normal;
}

.p37.on {
	font-size: 20px;
	right: 6.2em;
}

.p38.on {
	font-size: 22px;
	font-style: Normal;
}

.p39.on {
	font-size: 20px;
	right: 6.2em;
}

.p40.on {
	font-size: 22px;
	font-style: Normal;
}

.p41.on {
	font-size: 20px;
	right: 6.2em;
}

.p42.on {
	font-size: 20px;
	right: 6.2em;
}

.p43.on {
	font-size: 20px;
	right: 6.2em;
}

.p44.on {
	font-style: Normal;
	font-size: 22px;
	color: white;
	/* were done */
}

.p45.on {
	font-style: Normal;
	font-size: 22px;
	color: white;
}

.p46.on {
	font-style: Normal;
	font-size: 22px;
	color:white;
}

.p47.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
}

.p48.on {
	font-style: Normal;
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
	/* start tweede deel */
}

.p49.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p50.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p51.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p52.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p53.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p54.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p55.on {
	color: white;
	font-size: 20px;
	font-family: "brenner mono";
}

.p56.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p57.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p58.on {
	font-size: 20px;
	right: 6.2em;
	color:white;
	font-family: "brenner";
}

.p59.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p60.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p61.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p62.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p63.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p64.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p65.on {
	font-size: 20px;
	color: white;
	font-family: "brenner mono";
}

.p66.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p67.on {
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

.p68.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p69.on {
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

.p70.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p71.on {
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

.p72.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p73.on {
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

.p74.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p75.on {
	font-size: 40px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

.p76.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p77.on {
	font-size: 40px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

.p78.on {
	font-size: 20px;
	right: 6.2em;
	color: white;
	font-family: "brenner";
}

.p79.on {
	font-size: 20px;
	color: white;
	font-weight: bold;
	font-family: "brenner mono";
}

/* .p77.on body {
	background: white;
	position: absolute;
	z-index: 3;
	color: white;
	font-weight: bold;
} */


/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */
@keyframes shak {
	0%  { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes shake {
	0%  { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes shakee {
	0%  { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes shakeee {
	0%  { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes blinkingBackground {
	0%		{ background-color: #282828}
	25%		{ background-color: black}
	50%		{ background-color: #282828}
	75%		{ background-color: black}
	100%	{ background-color: #282828}
}

@keyframes blinkingBackground2 {
	0%		{ background-color: #282828}
	25%		{ background-color: black}
	50%		{ background-color: #282828}
	75%		{ background-color: black}
	100%	{ background-color: #282828}
}

@keyframes radialFade{
	0%		{ background-color: green}
	25%		{ background-color: darkgreen}
	50%		{ background-color: #383838}
	75%		{ background-color: #282828}
	100%	{ background-color: black}
}

@keyframes radialAlarm{
	10%		{ background-color: red}
	20%		{ background-color: red}
	30%		{ background-color: darkred}
	40%		{ background-color: #450000}
	50%		{ background-color: #450000}
	70%		{ background-color: #383838}
	80%		{ background-color: #282828}
	100%	{ background-color: black}
}

@keyframes radialAlarm2{
	10%		{ background-color: red}
	20%		{ background-color: red}
	30%		{ background-color: darkred}
	40%		{ background-color: #450000}
	50%		{ background-color: #450000}
	70%		{ background-color: #383838}
	80%		{ background-color: #282828}
	100%	{ background-color: black}
}

@keyframes blinkingBackground3 {
	0%		{ background-color: #282828}
	25%		{ background-color: black}
	50%		{ background-color: #282828}
	75%		{ background-color: black}
	100%	{ background-color: #282828}
}

@keyframes blinkingBackground4 {
	0%		{ background-color: #383838}
	25%		{ background-color: black}
	50%		{ background-color: #383838}
	75%		{ background-color: black}
	100%	{ background-color: #383838}
}

@keyframes blinkingBackground5 {
	0%		{ background-color: grey}
	25%		{ background-color: black}
	50%		{ background-color: grey}
	75%		{ background-color: black}
	100%	{ background-color: grey}
}

@keyframes backgroundGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.sound0 {
	background-image: radial-gradient(red, rgba(0,0,0,0.5));
	animation: radialAlarm 5.5s ease-in-out;
}

.sound1 {
	background-image: radial-gradient(red, rgba(0,0,0,0.5));
	animation: radialAlarm2 5.5s ease-in-out;
}
.sound2{
	animation: blinkingBackground3 0.5s;
	animation-iteration-count: 2;
}

.sound4 {
	background-color:black;
    background-image:none;
	animation-name: none;

/* waarom werkt deze niet? moet zwarte achtergrond worden */
}

/* .sound1 #video-mask {
	animation: shak 0.5;
	animation-iteration-count: 2;
} */

.sound4 #video-mask {
	animation: shake 0.5s;
	animation-iteration-count: 2;
}

.sound6 #video-mask {
	animation: shakee 0.5s;
	animation-iteration-count: 2;
}

.sound8 #video-mask {
	animation: shakeee 0.5s;
	animation-iteration-count: 2;
}

.sound9 {
	animation: blinkingBackground 0.2s;
	animation-iteration-count: infinite;
}

.sound10 {
	animation: blinkingBackground4 0.2s;
	animation-iteration-count: infinite;
}

.sound11 {
	animation: blinkingBackground5 0.2s;
	animation-iteration-count: infinite;
}
.sound12 {
	background-color: black;
	animation-name: none;
	
}
 
.sound13 {
	background-color: radial-gradient();
	animation: radialFade 5.5s ease-in-out;
}

/* .sound14 {
	animation-name:none;
    background-color: black;
} */

.sound14 {
	background-image: linear-gradient(90deg, #02072F,#02072F,#898da8, #02072F, #02072F);
	background-size: 400%;
	animation: backgroundGradient 12s infinite;

}

.sound17 {
		background-image: linear-gradient(90deg, #02072F, #02072F, red, black);
		background-size: 400%;
		animation: backgroundGradient 4s infinite;
}

.sound18 {
	background-image: linear-gradient(90deg, black, red, black);
	background-size: 400%;
	animation: backgroundGradient 1s infinite;
}

.sound19{
	animation-name: none;
    background-image: none;
}

.sound20 #video-mask{
	animation-name: none;
    opacity: 0;
}



/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */
body {
	background-color: black;
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
}
#video-container {
	margin: auto;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}
